In [119]:
!pip install lxml
!pip install html5lib
!pip install beautifulsoup4

import lxml, html5lib
import pandas as pd
import numpy as np

Requirement already satisfied: lxml in c:\users\sameh\appdata\local\programs\python\python37-32\lib\site-packages (4.5.2)

WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'c:\users\sameh\appdata\local\programs\python\python37-32\python.exe -m pip install --upgrade pip' command.

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: webencodings in c:\users\sameh\appdata\local\programs\python\python37-32\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\sameh\appdata\roaming\python\python37\site-packages (from html5lib) (1.12.0)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'c:\users\sameh\appdata\local\programs\python\python37-32\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'c:\users\sameh\appdata\local\programs\python\python37-32\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: beautifulsoup4 in c:\users\sameh\appdata\local\programs\python\python37-32\lib\site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\sameh\appdata\local\programs\python\python37-32\lib\site-packages (from beautifulsoup4) (2.0.1)

In [120]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = df[0]
df.head()

  Post Code           Borough               Neighborhood
0       M1A      Not assigned               Not assigned
1       M2A      Not assigned               Not assigned
2       M3A        North York                  Parkwoods
3       M4A        North York           Victoria Village
4       M5A  Downtown Toronto  Regent Park, Harbourfront

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Post Code     180 non-null    object
 1   Borough       180 non-null    object
 2   Neighborhood  180 non-null    object
dtypes: object(3)
memory usage: 2.2+ KB

In [122]:
df.Borough.unique()

array(['Not assigned', 'North York', 'Downtown Toronto', 'Etobicoke',
       'Scarborough', 'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [123]:
df = df[~(df.Borough=='Not assigned')]

In [125]:
(df['Post Code'].value_counts()>1).sum()

0

In [126]:
df.shape

(103, 3)

In [127]:
latits = pd.read_csv('http://cocl.us/Geospatial_data')
latits.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [136]:
df_new = latits.rename(columns={'Postal Code': 'Post Code'})
df_new.head()

  Post Code   Latitude  Longitude
0       M1B  43.806686 -79.194353
1       M1C  43.784535 -79.160497
2       M1E  43.763573 -79.188711
3       M1G  43.770992 -79.216917
4       M1H  43.773136 -79.239476

In [138]:
df = df.merge(df_new)
df.head()

,Post Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494